/* -- Table Of Contents --
	1.Container
	2. Nav and Logo
	3.Custom range
	4.Custom Check Box
	5.Result,Copy and Save
	6.Modal Box
   ------------------------*/

:root {
  --primary: linear-gradient(#3283c1, #0b4182);
  --text-color: white;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* -----------------
		Container
	----------------- */
.container {
  height: 100vh;
  width: 100%;
  background: var(--primary);
  color: var(--text-color);
}
.pwContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
}
/*----------------------
	 Nav,Logo and Sidebar
	---------------------*/
nav {
  display: flex;
  align-items: center;
  position: relative;
}
nav .burger {
  height: 20px;
  width: 24px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
nav .burger::after {
  position: absolute;
  height: 200%;
  width: 100%;
  color: rgba(255, 255, 0, 0.5);
}
nav .burger span {
  height: 4px;
  background: white;
  width: 100%;
}
header.logo {
  text-align: center;
  width: 100%;
  padding: 2vh 0;
  font-size: 2rem;
  font-weight: bolder;
}
.sidebar {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sidebar.fade {
  pointer-events: auto;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.savePassword {
  position: fixed;
  top: 0;
  left: -70%;
  background: var(--primary);
  height: 100%;
  width: 300px;
  z-index: 2;
  transition: all 0.5s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}
.savePassword.slide {
  box-shadow: 3px 0 3px black;
  left: 0;
}
.savePassword ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.savePassword li {
  padding: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  overflow-x: scroll;
}
.savePassword .pass {
  font-weight: bolder;
  text-align: center;
  color: Orange;
  font-size: 20px;
}
.savePassword .title {
  word-wrap: none;
  text-align: center;
}
/* ----------------------
	 Result,Copy and Save
	---------------------- */
.pwContainer .resultContainer {
  display: flex;
  align-content: stretch;
}
.pwContainer .result {
  background: #ccc;
  padding: 8px 5px;
  font-size: 1.1rem;
  color: black;
  width: 350px;
  max-width: 100%;
  max-height: calc(16px + 1.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 1px black inset;
}
.copy,
.pwContainer label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pwContainer .copy {
  box-shadow: 0 0 3px 1px black inset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aaa;
  padding: 0 5px;
  cursor: pointer;
  font-size: 1.35rem;
}
.save {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 5px;
}
/* -----------------
	  Custom Range
	----------------- */
.pwContainer input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  width: 100%;
  display: block;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0 0 0 2px black;
  margin-top: 10px;
  outline: none;
  background: none;
}
.pwContainer input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #aaa;
  padding: 2px;
  border-radius: 60%;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  z-index: 2;
}
.pwContainer input[type='range']::-moz-range-track {
  background: transparent;
}
.pwContainer input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #aaa;
  padding: 2px;
  border-radius: 60%;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  z-index: 2;
}
.pwContainer input[type='range']::-moz-range-thumb:hover {
  background: blue;
  opacity: 0;
}
.pwContainer #rangeValue {
  font-weight: bolder;
  font-size: 1.5rem;
}

.pwContainer .fillRange {
  position: absolute;
  left: 0;
  width: 50%;
  height: 10px;
  background: #aaa;
  border-radius: 5px;
  z-index: -1;
  bottom: 2px;
}
.pwContainer .rangeSelector {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
}
.pwContainer input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 0 0 2px 10px rgba(0, 0, 20, 0.3);
}
/* -----------------
	Custom Check Box
	----------------- */

.pwContainer .includes {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  flex-direction: column;
}
.checkBox {
  margin: 5px 0;
}
.checkBox label {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.checkBox input[checked] {
  display: none;
}
.checkBox .custom-checkBox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  position: relative;
  color: white;
  margin: 0 5px;
}
.checkBox .custom-checkBox::after {
  content: '✓';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #226098;
  transform: scale(0);
  transition: transform 0.2s ease-in;
}
.checkBox input[checked]:checked ~ .custom-checkBox::after {
  transform: scale(1);
}
/*-----------------
	Modal Box
  ----------------- */
.modalConfirm {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modalConfirm.show {
  display: flex;
}
.modalConfirm .box {
  width: 50%;
  height: 20%;
  background: var(--primary);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalConfirm hr {
  width: 90%;
  margin: 0;
}
.modalConfirm .btn1,
.modalConfirm .btn2 {
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  padding: 5px 0;
}
